*.pyc
git-synchronize
model/auth.json
model/swearFilter.json
static/db
static/dumpNom
static/deprecated
static/img/wiki/*
**/*deprecated*
**/deprecated/*
static/img/twitterCard/*
server.txt
static/maintenance
static/LatoLatin/*
\#*#
