*.pyc
git-synchronize
model/auth.json
model/swearFilter.json
static/db
static/dumpNom
static/deprecated
static/img/wiki/*
**/*deprecated*
**/deprecated/*
static/img/twitterCard/*
server.txt
static/maintenance
static/data/*
static/LatoLatin/*
static/**/*.ord
static/**/*.csv
static/data/csv/**/*.bak
\#*\#
static/aaron/*
static/img/bios
static/img/carousel
static/img/scans
static/img/source_images/**/*.jpg
static/img/source_images/**/*.sgm
static/img/scans/**/*.jpg
static/img/scans/**/*.sgm
static/articles/
static/json
static/partyjson
static/controljson
static/carousel
model/email/newsletter_list.json
