{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div id="home-header">


    <h1>Visualize US roll calls</h1>
    <p class="lead">Explore all the rollcalls from the latest 300 years</p>
    <!-- <form role="form"> -->
    <form id="home-search-form" action="/search/" method="post">
        {% csrf_token %} 
        <div class="input-group">
            <input name="search-string" type="text" class="form-control" id="searchText" placeholder="Enter a term to search for">
            <div class="input-group-btn">
            <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </form>
    <p id="search-examples">Examples: <a href="/search">soccer</a>, <a href="/search">Winsconsin</a>, <a href="/search">H9O2244</a>, <a href="/search">beer</a>, <a href="/search">Bill Clinton</a></p>
</div>

<div id="images-section" class="container">
    <div class="row">
        <div class="col-md-4 imageAndText"><img src="{{ STATIC_URL }}img/capitol.jpg" class="img-responsive"/><p>Blog</p></div>
        <div class="col-md-3 imageAndText"><img src="{{ STATIC_URL }}img/healthcare_obama.jpg" class="img-responsive"/><p>Explore</p></div>
        <div class="col-md-5 imageAndText"><img src="{{ STATIC_URL }}img/capitol.jpg" class="img-responsive"/><p>Search</p></div>
    </div>
    <div class="row">
        <div class="col-sm-4 imageAndText"><img src="{{ STATIC_URL }}img/placeholder.jpg" class="img-responsive"/><p>Article</p></div>
        <div class="col-sm-4 imageAndText"><img src="{{ STATIC_URL }}img/senate.jpg" class="img-responsive"/><p>Download dataset</p></div>
        <div class="col-sm-3 imageAndText"><img src="{{ STATIC_URL }}img/vote.jpg" class="img-responsive"/><p>About</p></div>
    </div>
</div>

{% endblock %}