#footer {
    width: 100%;
    height: 90px;
    background-color: #3284bf;
    overflow: hidden;
    margin-top: 0px;
    display: none;
}

div#footer div {
    height: 90px;
}

div#footer div span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div#footer img {
    height: 76px;
    vertical-align: middle;
}

#scatter-container {
    width: 890px;
    height: 425px;
    position: relative;
}

#scatter-bg, 
#scatter-chart {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#scatter-chart {
    z-index: 10;
}

#home-header {
    background: url(/static/img/blue.jpg) 50% 0% repeat-x;
    height: 440px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 3%;
}

#home-header p {
    color:white;
    text-shadow: 0 -1px 8px rgba(0,0,0,0.9);
    font-size: 140%;
}

 #home-header h1 {
    color: white;
    text-shadow: 0 -1px 8px rgba(0,0,0,0.9);
    font-size: 320%;
    font-weight: 700;
 }

#images-section .row {
  margin-bottom: 20px;
}

.imageAndText {position: relative;} 
.imageAndText p {position: absolute; z-index: 1; bottom: 0; left: 50; color:white; font-size: 200%;}

#content {
  display: none;
}

#home-search-form {
  width: 60%;
  margin: 0 auto;
}

#search-examples {
    padding-top: 10px;
}

#search-bar-container {
  padding-bottom: 25px;
}

#results-page-container {
    padding-top: 10px;
}

#results-list {
    padding-top: 10px;
}

#next-page {
  margin:30px 0;
}

#wbv-header {
  padding-top: 20px;
  border-bottom:thin solid #DDD;
  margin-bottom: 20px;
}

#wbv-header h1 {
  font-size: 25px;
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

#loading-container {
  padding-top: 40px;
  text-align: center;
}


/* Maps and charts */
.dc-chart g.row text {
  fill: black;
}

#loading {
 float: none;
 margin: 0 auto;
 text-align: center;
 display: none;
}

#map-container {
  width: 700px; 
}

.axis {
    font-family:verdana;
    font-size:9pt;
}

line.cutline {
    stroke-width: 3;
    stroke: #FFF;
}

.wvv-tooltip  {
  color: #222; 
  background: #fff; 
  padding: 0.2em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  opacity: 0.9; 
  position: absolute;
  font-size: 90%;
  line-height: 80%; 
  min-width:13em;
}

.wvv-tooltip img {
  float:left;
}

.wvv-tooltip.hidden {
  display: none;
}

/*Hacky way to remove the axis while https://github.com/dc-js/dc.js/issues/548 is solved*/
#scatter-chart .axis {
  display: none;
}

#download-btn {
  position:fixed;
  right: 12px;
  bottom:12px;
  display: none;
}

#sort-label {
  text-align: right;
  padding-top: 10px;
}

#brand a {
  text-decoration: none;
}

.dc-table-label {
  font-weight: 600;
  font-size: 130%;
}


.tooltip > .tooltip-inner { opacity: 0.9; }
.tooltip > .tooltip-arrow { opacity: 0.9; }
.left-tooltip + .tooltip > .tooltip-inner { text-align:left; min-width:400px;}

#memberList
{
	min-width: 800px;
}

ul#memberList.geography
{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	columns: auto 3;
	list-style-type: none;
	overflow: auto;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 15px;
	display: block;
}

.memberResultBox
{
	cursor: pointer;
	height: 85px;
	margin-bottom: 5px;
	overflow: hidden;
}

@media screen and (min-width: 1200px) 
{
	.memberResultBox img.bio
	{
		width: 64px;
		height: 80px; 
		vertical-align: middle;
	}


	.memberResultBox span, .memberResultBox div
	{
		padding-right: 0px;
		font-size: 0.9em;
	}
}
@media screen and (max-width: 1199px) 
{
	.memberResultBox img.bio
	{
		width: 56px;
		height: 70px;
		vertical-align: middle;
	}

	.memberResultBox span, .memberResultBox div
	{
		padding-right: 0px;
		font-size: 0.8em;
	}
}

.columnResultBox
{
	break-inside: avoid-column;
}

.searchHighlight2  { background-color: #fffbcc; padding: 2px; }
.searchHighlight3  { background-color: #aff; padding: 2px; }
.searchHighlight { background-color: #f99; padding: 2px; }

.tablesorter-headerAsc div.tablesorter-header-inner:after {
	font-family: "Glyphicons Halflings";
	font-style: normal; font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	left: 2px;
	content: "\e151";
}
.tablesorter-headerDesc div.tablesorter-header-inner:after {
	font-family: "Glyphicons Halflings";
	font-style: normal; font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	left: 2px;
	content: "\e152";
}
.tablesorter-headerUnSorted div.tablesorter-header-inner:after {
	font-family: "Glyphicons Halflings";
	font-style: normal; font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	left: 2px;
	content: "\e150";
}
.tablesorter th.sorter-false div:after { content: ""; }


@media print
{
	body { border-left: 0; }
	body.devbody { border-left:0; }
	.noprint
	{
		display:none;
	}
	#voteBucket
	{
		page-break-before: always;
	}
}
@media screen
{
	body.devbody { border-left:20px solid red; }
	.printOnly { display:none; }
}

#devHelpWidget
{
	position:fixed; 
	left:0px; bottom:0px; 
	width:200px; height:30px; 
	background-color: white; 
	border-top: 3px solid red; border-right: 3px solid red;
}

path.median
{
	fill:none !important;
	stroke-width:3px !important;
}

/* Geography page */
.ideology { width: 50px; border-left: 1px solid grey; border-right: 1px solid grey; overflow: none; padding: 0 !important;}
.nom_ideology { height: 35px; overflow: auto; display: block; }
#google_map { width:100%; height: 100%; }
#mapContainer { padding-top: 10px; height: 300px; }
.address_marker { padding-top: 10px; padding-bottom: 10px; }
.notableExamples { columns: 3; cursor: pointer; overflow: hidden; }

/* Vote page */
.voteTable { list-style-type: none; overflow: auto; }
.columns1 { columns: 1; width: 25%; }
.columns2 { columns: 2; width: 50%; }
.columns3 { columns: 3; width: 75%; }
.columns4 { columns: 4; width: 100%; }
ul.voteTable li { padding-bottom: 3px; width:100%; }
ul.voteTable li strong { text-decoration: underline; }
ul.voteTable li span { background-color: white; padding-right: 5px; }
ul.voteTable li span span.bullet { color: red; }
ul.voteTable li span span.meta { color: grey; font-size: 0.9em; }
ul.voteTable li span.sponsor { background-color: yellow; }
ul.voteTable li.voter { display: inline-block; }
ul.voteTable li.dotted { }
ul.voteTable li.sponsor { background-color: yellow; }
ul.voteTable li.sponsor span { background-color: yellow; }
ul.voteTable li span.vote { padding-right: 40px; float: right; }
ul.voteTable li span.bullet { color: red; }
#voterTooltip { min-width: 320px; visibility: hidden; }
#voterTooltip img { width: 80px; }
#voterTooltip div.profile { padding-right: 10px; vertical-align: middle; height: 100%; min-height: 100px; }
#voterTooltip div.text { font-size: 0.9em; vertical-align: middle; padding-top: 5px; }

/* Data page */
#format option#format_ord { display: none; }
#data_download_container { display: none; }
.padded_botom { padding-bottom: 3px; }
.padded_left { padding-left: 50px; }
.text_aligned_image { vertical-align: top; height: 24px; }

/* Party Members */
.party_members { columns: auto 4; list-style-type: none; overflow: auto; width: 100%; margin-bottom: 40px; }

/* Party Page */
.slide_party { height: 90px; margin-left: 100px; margin-right: 100px; }
.map_row { padding-bottom: 60px; }
span.congressControl input[type=text] { width: 50px; }
.roster_header { padding-bottom: 10px; }
.roster_header h4 { display: inline; }
span.congressControl span#playButton { cursor: pointer; }
span.congressControl span#pauseButton { cursor: pointer; display: none; }
span.party_header { padding-right: 20px; }

/* Parties at a Glance */
#alertPartiesGlance { margin-bottom: 20px; }
#closeAlert { float: right; text-decoration: none; }
#parties_list { padding-bottom: 40px; }

/* Congress Page */
.congress_header { height: 40px; }
#congress_selector { font-size: 19px; float: left; padding-right: 30px; text-align: middle; }
#partyComposition { float: right; padding-right: 50px; }
.roster_header { padding-bottom: 20px; }
.roster_header h4 { display:inline; }
#memberList { columns: auto 4; list-style-type: none; overflow: auto; width: 100%; margin-bottom: 60px; }
#memberTextList { margin-bottom: 40px; }
.save_icon { margin-left: 5px; font-size: 22px; vertical-align: middle; cursor: pointer; } 
#scatter-container { margin: 0 auto 10px auto; }
#filterName { float: right; }
