svg.map {
    position: relative;
    top: -25px;
    left: 0px;
    z-index: 0;
    background: #eee;
}

.state, 
.district {
  stroke: #000; 
  stroke-linejoin: round; 
  stroke-opacity: 0.5;
  opacity: 1;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/** Tooltip */

#mapTooltip { position: absolute; z-index: 200; }
#voterTooltip { position: absolute; z-index: 200; }
#tooltipIdeology { position: absolute; z-index: 200; }
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 5px 1px #999999;
  color: #000;
  border: 1px solid #666666;
  border-radius: 2px;
  pointer-events: none;
  font-size: 80%;
  max-width:330px;
}

#selectionFilterBar
{
	z-index: 99;
	position:fixed; 
	bottom:0px; 
	height:60px; 
	left:0px; 
	width:100%; 
	background-color:#DEDEDE; 
	padding: 10px; 
	border-top:2px solid black; 
	display:none;
	vertical-align: middle; 
	line-height:40px;
}

#selectionFilterClose
{
	z-index: 200;
	position: fixed;
	bottom: 40px;
	right: 20px;
}

@media screen
{
	ul.voteTable li.dotted:before 
	{ 
		float:left; width:0; white-space: nowrap;
		content: "\00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \00B7  \0087  \0087  \0087  \0087";
	}
}
@media print
{
	ul.voteTable li.dotted:before 
	{ 
		float:left; width:0; white-space: nowrap;
		content: "";
	}
}
