svg.map {
    position: relative;
    top: -25px;
    left: 0px;
    z-index: 0;
    background: #eee;
}

.state, 
.district {
  stroke: #fff; 
  stroke-linejoin: round; 
  opacity: 1;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/** Tooltip */

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
  font-size: 80%;
}

#selectionFilterBar
{
	z-index: 99;
	position:fixed; 
	bottom:0px; 
	height:40px; 
	left:0px; 
	width:100%; 
	background-color:#EEEEEE; 
	padding: 10px; 
	border-top:1px solid black; 
	display:none; 
}
