svg.map {
    position: relative;
    top: -25px;
    left: 0px;
    z-index: 0;
    background: #eee;
}

.state, 
.district {
  stroke: #fff; 
  stroke-linejoin: round; 
  opacity: 1;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/** Tooltip */

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
  font-size: 80%;
}
