/*
 * Custom overrides for BookReader Demo.
 */

 * {
   -webkit-box-sizing: unset;
   -moz-box-sizing: unset;
   box-sizing: unset;
 }



/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}

#BookReader {
  position: absolute;
  height: 100%;
  width: 100%;
}
